body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    cursor: pointer;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

#options {
    display: flex;
    flex-direction: column;
}

.option {
    cursor: pointer;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px;
}

.option:hover {
    background-color: #218838;
}
